.bloc-page {
  width: 100%;
}

header {
  width: 100%;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.fleche {
  color: black;
  position: relative;
  right: 66px;
  top: 3px;
  font-size: 19px;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
}

p {
  font-family: "Roboto", sans-serif;
}

.pied-de-page {
  width: 100%;
  height: 192px;
  background-color: #424141;
  color: white;
  padding-top: 40px;
}

.pied-de-page .informations {
  width: 70%;
  margin-left: 20px;
}

.pied-de-page .informations .logo-footer {
  width: 140px;
  color: white;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.pied-de-page .informations ul {
  padding-left: 0px;
  list-style-type: none;
}

.pied-de-page .informations ul li {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}

.pied-de-page .informations ul li i {
  padding-right: 10px;
}

.pied-de-page .informations ul li a {
  text-decoration: none;
  color: white;
}

@media screen and (min-width: 767px) {
  .pied-de-page .informations {
    width: 100%;
    margin-left: 0px;
    text-align: center;
  }
}

.restaurant-image {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

.plat {
  position: relative;
  margin-top: -50px;
  background-color: #f2f2f2;
  border-radius: 40px 40px 0px 0px;
  height: 1092px;
}

.changement-hauteur {
  height: 1185px;
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.titre h1 {
  font-family: "Shrikhand", cursive;
  font-size: 25px;
  font-weight: normal;
  margin-right: 40px;
}

.titre i {
  font-size: 25px;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  font-weight: normal;
  width: 90%;
  margin: auto;
}

h2 span {
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}

.titre--1 {
  opacity: 0;
  -webkit-animation: apparition 1000ms both;
          animation: apparition 1000ms both;
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.titre--2 {
  opacity: 0;
  -webkit-animation: apparition 1000ms both;
          animation: apparition 1000ms both;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.titre--3 {
  opacity: 0;
  -webkit-animation: apparition 1000ms both;
          animation: apparition 1000ms both;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.propositions {
  font-family: "Roboto", sans-serif;
  margin-top: 25px;
  opacity: 0;
  -webkit-animation: apparition 1000ms both;
          animation: apparition 1000ms both;
}

.propositions h2 {
  font-size: 17px;
  font-weight: normal;
  width: 90%;
  margin: auto;
  height: 40px;
}

.propositions span {
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}

.propositions .proposition-plat {
  width: 90%;
  margin: auto;
  height: 63px;
  background-color: white;
  border: 0px solid white;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 10px #cfc5c5;
          box-shadow: 2px 2px 10px #cfc5c5;
  overflow: hidden;
  /*white-space: nowrap;*/
}

.propositions .proposition-plat:hover .validation {
  -webkit-animation: slide-left 0.5s both;
          animation: slide-left 0.5s both;
}

.propositions .proposition-plat:hover i {
  -webkit-animation: rotation 600ms linear both;
          animation: rotation 600ms linear both;
}

.propositions .proposition-plat h3 {
  font-size: 17px;
  padding-left: 5px;
  margin-top: 12px;
}

.propositions .proposition-plat p {
  font-size: 15px;
  overflow: hidden;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
}

.propositions .proposition-plat .proposition-texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 6px;
  padding-right: 20px;
  position: relative;
  bottom: 10px;
  margin-top: -17px;
}

.propositions .proposition-plat .proposition-texte .validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -20px;
}

.propositions .proposition-plat .proposition-texte .validation .valider {
  padding-right: 25px;
}

.propositions .proposition-plat .proposition-texte .validation .logo-valider {
  background-color: #99E2D0;
  margin-bottom: -4px;
  margin-top: -29px;
  margin-right: -5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 66px;
  border-radius: 0px 20px 20px 0px;
}

.propositions .proposition-plat .proposition-texte .validation .logo-valider i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  color: #99E2D0;
}

.propositions--1 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.propositions--2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.propositions--3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.propositions--4 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.propositions--5 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.propositions--6 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.propositions--7 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.propositions--8 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.propositions--9 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.proposition {
  font-family: "Roboto", sans-serif;
  margin-top: 25px;
  opacity: 0;
  -webkit-animation: apparition 1000ms both;
          animation: apparition 1000ms both;
}

.proposition h2 {
  font-size: 17px;
  font-weight: normal;
  width: 90%;
  margin: auto;
  height: 40px;
}

.proposition span {
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}

.proposition .proposition-plat {
  width: 90%;
  margin: auto;
  height: 63px;
  background-color: white;
  border: 0px solid white;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 10px #cfc5c5;
          box-shadow: 2px 2px 10px #cfc5c5;
  overflow: hidden;
  /*white-space: nowrap;*/
}

.proposition .proposition-plat:hover .validation {
  -webkit-animation: slide-left 0.5s both;
          animation: slide-left 0.5s both;
}

.proposition .proposition-plat:hover i {
  -webkit-animation: rotation 600ms linear both;
          animation: rotation 600ms linear both;
}

.proposition .proposition-plat h3 {
  font-size: 17px;
  padding-left: 5px;
  margin-top: 12px;
}

.proposition .proposition-plat p {
  font-size: 15px;
  overflow: hidden;
  /*white-space: nowrap;*/
  text-overflow: ellipsis;
}

.proposition .proposition-plat .proposition-texte {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 6px;
  padding-right: 20px;
  position: relative;
  bottom: 10px;
  margin-top: -17px;
}

.proposition .proposition-plat .proposition-texte .validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: -20px;
}

.proposition .proposition-plat .proposition-texte .validation .valider {
  padding-right: 25px;
}

.proposition .proposition-plat .proposition-texte .validation .logo-valider {
  background-color: #99E2D0;
  margin-bottom: -4px;
  margin-top: -29px;
  margin-right: -5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 66px;
  border-radius: 0px 20px 20px 0px;
}

.proposition .proposition-plat .proposition-texte .validation .logo-valider i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  color: #99E2D0;
}

.proposition__1 {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.proposition__2 {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}

.proposition__3 {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}

.proposition__4 {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.proposition__5 {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.proposition__6 {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.proposition__7 {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

.proposition__8 {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.proposition__9 {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.proposition__10 {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

@-webkit-keyframes apparition {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes apparition {
  from {
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    opacity: 1;
  }
}

.ajout-hauteur {
  height: 110px;
}

.bouton-restaurant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f2f2f2;
  width: 100%;
}

.bouton-restaurant button {
  text-align: center;
  margin-bottom: 40px;
  cursor: pointer;
  border: 0px solid #FF79DA;
  border-radius: 25px;
  -webkit-box-shadow: 4px 4px 10px #cfcfcf;
          box-shadow: 4px 4px 10px #cfcfcf;
  padding: 15px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
  background: -webkit-gradient(linear, left bottom, left top, from(#9356DC), to(#FF79DA));
  background: linear-gradient(to top, #9356DC, #FF79DA);
  font-family: "Roboto", sans-serif;
  -webkit-transition: 300ms linear;
  transition: 300ms linear;
}

.bouton-restaurant button:hover {
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}

@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
}

@keyframes slide-left {
  0% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  100% {
    -webkit-transform: translateX(-80px);
            transform: translateX(-80px);
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@media screen and (min-width: 767px) {
  .plat {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 860px;
  }
  .plat .titre {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .bloc-modif {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px;
  }
  .bloc-modif .propositions {
    margin-right: 14px;
  }
  .bloc-modif .propositions .proposition-plat {
    width: 339px;
  }
}

@media screen and (min-width: 992px) {
  .plat {
    height: 506px;
  }
  .plat .titre {
    margin-bottom: 30px;
  }
  .bloc-restaurants {
    width: 60%;
    margin: auto;
  }
  .bloc-restaurants .bloc-annonces {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=restaurant.css.map */