.restaurant-image {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.plat {
    position: relative;
    margin-top: -50px;
    background-color: #f2f2f2;
    border-radius: 40px 40px 0px 0px;
    height: 1092px;
}

.changement-hauteur {
    height: 1185px;
}

.titre {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    .titre-page {
        position: relative;
    }
    .coeur-rempli {
        position: absolute;
        right: 0px;
        bottom: 17px;
        font-size: 25px;
        opacity: 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0;
        @include coeur;
        &:hover {
            transform-origin: bottom;
            animation: remplisage 200ms ease-in-out both;
        }
    }
    .fa-regular {
        position: absolute;
        right: 0px;
        bottom: 17px;
        font-size: 25px;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 0;
        @include coeur;
    }
    h1 {
        font-family: $police-logo-titre;
        font-size: 25px;
        font-weight: normal;
        margin-right: 40px;
    }
    i {
        font-size: 25px;
    }
}

@keyframes remplisage {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
    }
}

.bloc-propositions {
    margin-bottom: 20px;
}

h2 {
    font-family: $police-texte;
    font-size: 17px;
    font-weight: normal;
    width: 90%;
    margin: auto;
    span {
        padding-bottom: 5px;
        border-bottom: 3px solid #99E2D0;
    }
}

.titre--1 {
    @include apparition-restaurant;
    animation-delay: 100ms
}

.titre--2 {
    @include apparition-restaurant;
    animation-delay: 400ms
}

.titre--3 {
    @include apparition-restaurant;
    animation-delay: 700ms;
}

.propositions {
    @include plat-restaurant;
    @include apparition-restaurant;
    @include boucle;
}

.proposition {
    @include plat-restaurant;
    @include apparition-restaurant;
    @include boucle2;
}

@keyframes apparition {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
    
}

.ajout-hauteur {
    height: 110px;
}

.bouton-restaurant {
    @include display-flex;
    background-color: #f2f2f2;
    width: 100%;
    button {
        text-align: center;
        margin-bottom: 40px;
        cursor: pointer;
        border: 0px solid #FF79DA;
        border-radius: 25px;
        box-shadow: 4px 4px 10px #cfcfcf;
        padding: 15px;
        padding-left: 50px;
        padding-right: 50px;
        color: white;
        background: linear-gradient(to top, #9356DC, #FF79DA);
        font-family: $police-texte;
        transition: 300ms linear;
        &:hover {
            filter: brightness(1.30);
        }
    }
}

@keyframes slide-left {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-80px);
    }
}

@keyframes animation-texte {
    0% {
        width: 260px;
    }
    100% {
        width: 213px;
    } 
}

@keyframes rotation {
    0% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media screen and (min-width: 767px) {
    .plat {
        display: flex;
        flex-wrap: wrap;
        height: 860px;
        .titre {
            justify-content: center;
            width: 100%;
        }
    }
    .bloc-modif {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        margin-bottom: 25px;
        .proposition {
            margin-right: 14px;
        }
        .proposition .proposition-plat {
            width: 339px;
        }
        .propositions {
            margin-right: 14px;
        }
        .propositions .proposition-plat {
            width: 339px;
        }
    }
}

@media screen and (min-width: 992px) {
    .plat {
        height: 540px;
        .titre {
            margin-bottom: 30px;
        }
    }
    .changement-hauteur {
        height: 590px;
    }
    .bloc-restaurants {
        width: 50%;
        margin: auto;
        .bloc-annonces {
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
}