.bloc-page {
    width: 100%;
}

header {
    width: 100%;
    margin-top: 15px;
    @include display-flex;
}

.logo {
    width: 150px;
    margin-bottom: 10px;
}

p {
    font-family: $police-texte;
}