@mixin display-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin nouveau {
    width: 60px;
    position: absolute;
    right: 15px;
    bottom: 155px;
    color: #317463;
    font-size: 15px;
    background-color: $couleur-tertiaire;
    border: 2px solid $couleur-tertiaire;
    border-radius: 2px;
    padding: 10px;
}