$couleur-pricipal: #9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$couleur-partie-fonctionnement: #9256dc3d;

$police-logo-titre: 'Shrikhand', cursive;
$police-texte: 'Roboto', sans-serif;